<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<properties>
    <!--项目信息-->
    <project>
        <!--项目编号-->
        <code>0</code>
        <!--是否打包-->
        <isPackage>false</isPackage>
        <!--项目源 信息-->
        <src>
            <!--项目名称-->
            <name>xx.jar</name>
            <!--项目目录-->
            <dir>/home/xx/xx/xx/</dir>
            <!--打包后的jar包存放位置-->
            <path>/home/xx/xx/xx/xx/xx.jar</path>
        </src>
        <!--项目目标 信息-->
        <target>
            <!--ip地址-->
            <ip>xx.xx.xx.xx</ip>
            <!--用户-->
            <username>xx</username>
            <!--密码-->
            <password>xxxxx</password>
            <!--端口-->
            <port>22</port>
            <!--私钥地址-->
            <keyFilePath></keyFilePath>
            <!--存放项目目录-->
            <dir>/home/xx/xx/</dir>
            <!--项目路径-->
            <path>/home/xx/xx/xx.jar</path>
            <!--是否备份-->
            <backup>false</backup>
            <!--备份目录-->
            <backupDir>/home/xx/xx/xx/</backupDir>
        </target>
    </project>
</properties>
